.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    width: 250px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #ccc;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Couleurs des éléments */
.electro   { border-color: #9b59b6; background-color: #f4effa; }
.pyro      { border-color: #e74c3c; background-color: #fff0ee; }
.hydro     { border-color: #1f6899; background-color: #e8efff; }
.cryo      { border-color: #5dade2; background-color: #eef9fc; }
.anemo     { border-color: #2ecc71; background-color: #e9fdf0; }
.geo       { border-color: #d4ac0d; background-color: #fffbe6; }
.dendro    { border-color: #197841; background-color: #d3ffd3; }
.card:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transform: scale(1.02);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.rarity-4 {
    border: 3px solid #a678f2; /* Violet */
    box-shadow: 0 0 10px rgba(166, 120, 242, 0.5);
}

.rarity-5 {
    border: 3px solid #f1c40f; /* Doré */
    box-shadow: 0 0 15px rgba(241, 196, 15, 0.5);
}
