.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    width: 250px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: 0.2s ease-in-out;
}

.card:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transform: scale(1.02);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
